#account {
    h1 {
        text-align: center;
        color: $main-color;
        font-size: 3rem;
    }
    p {
        text-align: center;
    }
    h2 {
        font-size: 2rem; 
    }
}
.disconnect {
    position: absolute;
    top: 100px;
    left: 15px;
}