.random {
    @include flexAlignCenter(column);
}
.bigPoster {
    max-width: 50%;
    margin: 20px;
    background-color: rgb(18,18,18);
    p, h2 {
        margin: 15px;
    }
    p {
        text-transform: capitalize;
    }
    img {
      width: 100%;
    }
    &:hover {
        background-color: rgb(51, 50, 50); 
        img {
            opacity: 0.85;
        }
    }
  }
.bigPosterStream{
    margin: 20px;
    background-color: rgb(18,18,18);
    padding: 1px;
    p, h2 {
        margin: 15px;
    }
    p {
        text-transform: capitalize;
    }
    img {
      width: 100%;
    }
}