a.btn-random{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid $main-color;
    margin: 75px;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color: $main-color;
    text-align:center;
    transition: all 0.2s;
    &:hover{
        color:#000000;
        background-color: $main-color;
    }
}