//Section TV of the homepage
#TV {
    @include flexCenter(column);
    .title {
        @include flexCenter(column);
        margin-bottom: 50px;
        h1 {
            color: $main-color;
            font-size: 3rem;
        }
        p {
            @include posterWidth(4, 200px);
            @include media-max(800px) {
                width: auto;
            }
        }
    }
    h3 {
        @include posterWidth(4, 200px);
        color: $main-color;
        @include media-max(800px) {
            width: auto;
        }
    }
  }

// Section Gaming of the homepage
#game {
    @include flexCenter(column);
    h3 {
        font-size: 1.5rem;
        color: $main-color;
    }
}
#twitch {
    @include flexCenter(column);
    p {
        @include posterWidth(3,250px);
        @include media-max(800px) {
            width: auto;
        }
    }
}
