//Section TV of the homepage
#TV {
    @include flexCenter(column);
    .title {
        @include flexCenter(column);
        margin-bottom: 50px;
        h1 {
            color: $main-color;
            font-size: 3rem;
        }
        p {
            margin-left: 5px;
            @include posterWidth(4, 200px);
            @include media-max(800px) {
                width: auto;
            }
        }
    }
    h3 {
        @include posterWidth(4, 200px);
        color: $main-color;
        @include media-max(800px) {
            width: auto;
        }
    }
  }

// Section Gaming of the homepage
#game {
    @include flexCenter(column);
    h3 {
        font-size: 1.5rem;
        color: $main-color;
    }
}
//Section recommandation 
#recommandation {
    @include flexCenter(column);
    h3 {
        font-size: 1.5rem;
        color: $main-color;
    }
    p {
        @include posterWidth(4, 200px);
        @include media-max(800px) {
            width: auto;
        }
        text-align: center;
    }
    a {
        text-decoration: none;
        font-family: 'Rajdhani', sans-serif;
        color: $main-color;
        font-weight: bolder;
    }
}
//Section Twitch
#twitch {
    @include flexCenter(column);
    h3 {
        font-size: 1.5rem;
        color: $main-color;
    }
    p {
        margin-left: 5px;
    }
}
.twitch-videos {
    @include flexCenter(row);
    gap: 10px;
    flex-wrap: wrap;
    iframe {
        aspect-ratio: 16 / 9;
    }
    @include media-max(640px) {
        iframe {
            width: 95%;
            height: 95%;

        }
    }
}