.container-game {
    @include flexAlignCenter(row);
    @include posterWidth(6, 160px);
    @include media-max(800px) {
        @include posterWidth(3, 90px);
    }
    gap: 9px;
    overflow: hidden;
}
.poster-game {
    background-color: #161B22;
    border-radius: 5px;
    border: 1px solid black;
    transition: background-color .3s;
    transition: transform .5s;
    img {
        width: 160px;
        height: 90px;
        object-fit: cover;
        @include media-max(800px) {
            width: 90px;
            height: 150px;
        }
    }
    p {
        text-align: center;
        overflow: hidden;
        height: 20px;
        @include media-max(800px) {
            width: 90px;
        }
    }
    &:hover {
        background-color: rgb(51, 50, 50); 
    }
}
.favorite {
    position: relative;
    width: 0px;
    float: right;
    right: 30px;
    font-size: 30px;
    color : $main-color;
    input[type="checkbox"] {
        width: 30px;
        height: 30px;
        position: absolute;
        opacity: 0;
        &:active {
            transform: translateY(4px);
        }
    }
    .label-full {
        display: none;
    }
    input[type="checkbox"]:checked + .label-full {
        display: block !important;
    }
    input[type="checkbox"]:checked ~ .label-empty {
        display: none !important;
    }
}
.slide-active {
    transform: translateX(-160px);
    opacity: 1;
}
.btn-poster {
	min-width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 2px;
	cursor: pointer;
	text-align: center;
	color: $main-color;
	z-index:3;
	padding-top: 20px;
}
.btn-left {
    position: absolute;
}
.btn-right {
    position: sticky;
    right: -1px;
}
.more {
    color:white;
    text-decoration: none;
}