#info {
    @include flexAlignCenter(column);
    h1 {
        text-align: center;
        color: $main-color;
        font-size: 3rem;
    }
}
.poster-xl {
    max-width: 40%;
    margin: 20px;
    p, h2 {
        margin: 15px;
    }
    @include media-max(860px) {
        max-width: 100%;
    }
  }
.info {
    img {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
}
.tags {
    @include flexCenter(row);
    flex-wrap: wrap;
    p {
        color: $main-color;
        background-color: #161B22;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        @include media-max(860px) {
            font-size: 12px;
        }
    }
}
.overview {
    color :$main-color;
}

