#info {
    @include flexAlignCenter(column);
    h1 {
        color: $main-color;
        font-size: 3rem;
    }
}
.poster-xl {
    max-width: 40%;
    margin: 20px;
    p, h2 {
        margin: 15px;
    }
  }
.info {
    img {
        width: 100%;
      }
}
.tags {
    @include flexCenter(row);
    flex-wrap: wrap;
    p {
        color: $main-color;
        background-color: #161B22;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
    }
}
.overview {
    color :$main-color;
}

