@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
header {
  background-color: #161B22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 95px;
}

nav label {
  display: none;
}

@media screen and (max-width: 800px) {
  nav label {
    margin-top: 20px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
}

nav #toggle {
  display: none;
}

@media screen and (max-width: 800px) {
  nav #toggle:checked ~ .navbar-item {
    display: block;
    z-index: 4;
    background-color: #121212;
    width: 150px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.navbar-item {
  padding: 35px;
  text-decoration: none;
  color: white;
}

.navbar-item:hover {
  color: #CB3B3B;
  border-bottom: solid #CB3B3B;
}

@media screen and (max-width: 800px) {
  .navbar-item {
    display: none;
  }
}

.navbar-login {
  position: absolute;
  right: 5px;
}

@media screen and (max-width: 800px) {
  .navbar-login {
    position: inherit;
  }
}

.main-logo {
  position: absolute;
  left: 0px;
}

.main-logo img {
  width: 150px;
}

.container-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(4 * (200px + 10px));
  gap: 5px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .container-poster {
    width: calc(3 * (90px + 10px));
    gap: 8px;
  }
}

.poster {
  background-color: #161B22;
  border-radius: 5px;
  border: 1px solid black;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.poster img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 800px) {
  .poster img {
    width: 90px;
    height: 150px;
  }
}

.poster p {
  text-align: center;
  overflow: hidden;
  height: 40px;
}

@media screen and (max-width: 800px) {
  .poster p {
    width: 90px;
  }
}

.poster:hover {
  background-color: #333232;
}

.slide-active {
  -webkit-transform: translateX(-160px);
          transform: translateX(-160px);
  opacity: 1;
}

.btn-poster {
  min-width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  color: #CB3B3B;
  z-index: 3;
  padding-top: 20px;
}

.btn-left {
  position: absolute;
}

.btn-right {
  position: -webkit-sticky;
  position: sticky;
  right: -1px;
}

.more {
  color: white;
  text-decoration: none;
}

.heart {
  position: absolute;
  top: -30px;
  width: 85px;
  height: 85px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  -webkit-transition: background-position 1s steps(28);
  transition: background-position 1s steps(28);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.heart.is-active {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-position: -2800px 0;
}

.heart.is-loaded {
  background-position: -2800px 0;
}

.favorite {
  position: relative;
  width: 0px;
  float: right;
  right: 30px;
  font-size: 30px;
  color: #CB3B3B;
}

.favorite input[type="checkbox"] {
  width: 85px;
  height: 85px;
  position: absolute;
  opacity: 0;
}

a.btn-random {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #CB3B3B;
  margin: 10px;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #CB3B3B;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn-random:hover {
  color: #fff;
  background-color: #CB3B3B;
}

.random {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigPoster {
  max-width: 50%;
  margin: 20px;
  background-color: #121212;
}

.bigPoster p, .bigPoster h2 {
  margin: 15px;
}

.bigPoster p {
  text-transform: capitalize;
}

.bigPoster img {
  width: 100%;
}

.bigPoster:hover {
  background-color: #333232;
}

.bigPoster:hover img {
  opacity: 0.85;
}

.bigPosterStream {
  margin: 20px;
  background-color: #121212;
  padding: 1px;
}

.bigPosterStream p, .bigPosterStream h2 {
  margin: 15px;
}

.bigPosterStream p {
  text-transform: capitalize;
}

.bigPosterStream img {
  width: 100%;
}

.container-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(6 * (160px + 10px));
  gap: 9px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .container-game {
    width: calc(3 * (90px + 10px));
  }
}

.poster-game {
  background-color: #161B22;
  border-radius: 5px;
  border: 1px solid black;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.poster-game img {
  width: 160px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 800px) {
  .poster-game img {
    width: 150px;
    height: 90px;
  }
}

.poster-game p {
  text-align: center;
  overflow: hidden;
  height: 20px;
}

@media screen and (max-width: 800px) {
  .poster-game p {
    width: 90px;
  }
}

.poster-game:hover {
  background-color: #333232;
}

#TV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#TV .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

#TV .title h1 {
  color: #CB3B3B;
  font-size: 3rem;
}

#TV .title p {
  width: calc(4 * (200px + 10px));
}

@media screen and (max-width: 800px) {
  #TV .title {
    width: auto;
  }
}

#TV h3 {
  width: calc(4 * (200px + 10px));
  color: #CB3B3B;
}

@media screen and (max-width: 800px) {
  #TV h3 {
    width: auto;
  }
}

#game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#game h3 {
  font-size: 1.5rem;
  color: #CB3B3B;
}

#twitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#twitch p {
  width: calc(3 * (250px + 10px));
}

@media screen and (max-width: 800px) {
  #twitch p {
    width: auto;
  }
}

body {
  margin: 0;
  background-color: #0D1117;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 4px;
  font-family: 'Rajdhani', sans-serif;
}

section {
  margin-top: 50px;
}

.single-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-poster h2 {
  color: #CB3B3B;
  margin-bottom: 50px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */