// Variables

$main-color: #CB3B3B;

//mixins
@mixin posterWidth($number, $img-width) {
  width: calc(#{$number} * (#{$img-width} + 10px));
}
@mixin flexAlignCenter($direction) {
  // flex without justify for posters
  display: flex;
  flex-direction: $direction;
  align-items: center;
}
@mixin flexCenter($direction) {
  @include flexAlignCenter($direction);
  justify-content: center;
}
@mixin media-max($max-width) {
  @media screen and (max-width: $max-width) {
    & {
      @content;
    }
  }
}

// import

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import "./nav";
@import "./poster";
@import "./poster-xl";
@import "./button";
@import "./home";
@import "./form";
@import "./account";

// General rules

body, html {
  margin: 0;
  background-color: #0D1117;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 4px;
  font-family: 'Rajdhani', sans-serif;
}
section {
  flex-grow: 1;
  margin: 20px;

}

.link {
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: $main-color;
  font-weight: bolder;
}
#login {
  @include flexAlignCenter(column);
  p {
    margin: 3px;
  }
}
#e404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
#admin {
  margin: 20px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #161B22;
}
.tox-notification {
  display: none !important;
}
button {
  background-color: #0D1117;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid $main-color;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  color: $main-color;
  text-align:center;
  transition: all 0.2s;
  margin: 20px;
  &:hover{
      color:#fff;
      background-color: $main-color;
  }
}
