// Variables

$main-color: #CB3B3B;

//mixins
@mixin posterWidth($number, $img-width) {
  width: calc(#{$number} * (#{$img-width} + 10px));
}
@mixin flexAlignCenter($direction) {
  // flex without justify for posters
  display: flex;
  flex-direction: $direction;
  align-items: center;
}
@mixin flexCenter($direction) {
  @include flexAlignCenter($direction);
  justify-content: center;
}
@mixin media-max($max-width) {
  @media screen and (max-width: $max-width) {
    & {
      @content;
    }
  }
}

// import

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import "./nav";
@import "./poster";
@import "./poster-xl";
@import "./button";
@import "./home";
@import "./form";
@import "./account";

// General rules

body {
  margin: 0;
  background-color: #0D1117;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 4px;
  font-family: 'Rajdhani', sans-serif;
}
section {
  margin-top:50px;
}

.link {
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  color: $main-color;
  font-weight: bolder;
}
#login {
  @include flexAlignCenter(column);
  p {
    margin: 3px;
}
}
