{% extends 'layout.twig' %}

{% block title %}
Your Account
{% endblock %}


{% block content %}
<p> Hello {{username}} </p>
<form method="post">
    <button type"submit" name="disconnect" value="disconnect">disconnect</button>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}