{% extends 'layout.twig' %}

{% block title %}
Your Account
{% endblock %}


{% block content %}
<p> Hello {{username}} </p>

{% for favShow in favShows %} <p> {{favShow.show_id}} </p>{% endfor %}
<form method="post">
    <button type"submit" name="disconnect" value="disconnect">disconnect</button>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}