{% extends 'layout.twig' %}

{% block title %}
Books
{% endblock %}


{% block content %}
<section class="random">
<div class="container-book"></div>
<a id="game-random" href="index.php?p=book_poster" class="btn-random">Dont feel like reading this?</a>
</section>
{% endblock %}

{% block scripts %}
<script src="scripts/book_poster.js"></script>
{% endblock %}