{% extends 'layout.twig' %}
{% import 'favorite-form.twig' as form%}
{% block title %}
Games
{% endblock %}


{% block content %}

<section class="single-poster">
    <h2> Let us chose what random game you might want to play !</h2>
    <p> These are some of the top rated games, feel to try one, or add it to your favorites.</p>
    <div class="container-poster container-game">
        {% for game in games %}
            <div class="poster">
                <a href="index.php?p=game_poster&id={{game.id}}" class="more">
                    <img src="{{game.background_image}}"></img>
                </a>
                <p>{{game.name}}</p>
                {{form.fav('game', game.id, favGames)}}
            </div>
        {% endfor %}
    </div>
    <a href="index.php?p=game_poster" class="btn-random">Let the fate decide</a>
</section>

{% endblock %}

{% block scripts %}
<script src="scripts/game.js"></script>
{% endblock %}