{% extends 'layout.twig' %}

{% block title %}
Http 404
{% endblock %}


{% block content %}
<section id="e404">
 <p>Contenu introuvable</p>
 <a class ="link" href="index.php?p=home">Go back to home page</a>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}