<!DOCTYPE html>
<html LANG="fr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="WhatToDo">
    <link rel="icon" type="image/png" href="img/ico.png"/>
    <link href="styles/style.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://use.typekit.net/nac1xck.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>WhatToDo || {% block title %} {% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <a class="main-logo" href="index.php?p=home"><img src="img/logo.png"/></a>
        <a class="navbar-item" href="index.php?p=home">Home</a>
        <a class="navbar-item" href="index.php?p=movie">Movies</a>
        <a class="navbar-item" href="index.php?p=show">TV Shows</a>
        <a class="navbar-item" href="index.php?p=game">Games</a>
        <a class="navbar-item" href="index.php?p=book">Books</a>
        <a class="navbar-item navbar-login" href="index.php?p=login">Login</a>
    </nav>
</header>

{% block content %} {% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://kit.fontawesome.com/db9607f191.js" crossorigin="anonymous"></script>
<script src="scripts/books.js"></script>
<script src="scripts/booksApi.js"></script>
<script src="scripts/slider.js"></script>
{% block scripts %}{% endblock %}

</html> 