{% extends 'layout.twig' %}

{% block title %}
Login
{% endblock %}


{% block content %}

<section id="login">
    <form method="post" class="form">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder ="Username">
        <label for="password">Password</label>
        <input type="password" name="password"  placeholder ="Password">
        <button type="submit" name="connect">Connect</button>
    </form>

    <p>Connect to add content to your personnal favorites</p>
    <p>No account? <a class ="link" href="index.php?p=register">Register here</a></p>

    {% if errors == true %}
    <p>Username or password incorrect</p>
    {% endif %}
</section>

{% endblock %}

{% block scripts %}
{% endblock %}