{% extends 'layout.twig' %}

{% block title %}
Login
{% endblock %}


{% block content %}
<form method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit" name="connect" value="Connect">Connect</button>
</form>
{% if errors == true %}
<p>Username or password incorrect</p>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}