{% extends 'layout.twig' %}

{% block title %}
Movies
{% endblock %}


{% block content %}

<section class="single-poster">
    <h2> Let us chose what random movie you might want to watch !</h2>
    <p> These are some of the top rated movies, feel to watch one, or add it to your favorites.</p>
    <div class="container-poster container-movie">
        {% for movie in movies %}
            <div class="poster">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"></img>
                <p>{{movie.title}}</p>
            </div>
        {% endfor %}
    </div>
    <a href="index.php?p=movie_poster" class="btn-random">Let the fate decide</a>
</section>

{% endblock %}

{% block scripts %}
<script src="scripts/movieHTML.js"></script>
{% endblock %}