{% extends 'layout.twig' %}

{% block title %}
Books
{% endblock %}


{% block content %}
<section class="random">
<div class="container-book"></div>
</section>
{% endblock %}

{% block scripts %}
<script src="scripts/bookRandomHTML.js"></script>
{% endblock %}