{% extends 'layout.twig' %}

{% block title %}
Register
{% endblock %}


{% block content %}
<section id="login">
    <form method="post" class="form">
        <label for="username">Username</label>
        <input name ="username" type="text" placeholder="Username">
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="Password">
        <label for="email">Your e-mail</label>
        <input name="email" type="email" placeholder="Email">
        <button name="create-account" type="submit">Create your account</button>
    </form>

    {% for error in errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% if account_created == true %}
    <p>Your account is created,<a class="link" href="index.php?p=login">  please connect here</a></p>
    {% endif %}
</section>

{% endblock %}

{% block scripts %}
{% endblock %}