{% extends 'layout.twig' %}

{% block title %}
Shows
{% endblock %}


{% block content %}

<section class="single-poster">
    <h2> Let us chose what random TV Show you might want to watch !</h2>
    <p> These are some of the top rated shows, feel to watch one, or add it to your favorites.</p>
    <div class="container-poster container-show">
        {% for show in shows %}
            <div class="poster">
                <img src="https://image.tmdb.org/t/p/w500/{{show.poster_path}}"></img>
                <p>{{show.name}}</p>
            </div>
        {% endfor %}
    </div>
    <a id="show-random" href="index.php?p=showRandom" class="btn-random">Let the fate decide</a>
</section>

{% endblock %}

{% block scripts %}
<script src="scripts/showHTML.js"></script>
{% endblock %}